#map { height: 675px; width: 1250px; padding:0px;margin: -10px;}
#mapmarker { height: 400px; width: 100%; }

/* ======= Info window ========== */
#firstHeading{
	color:#556b2f;
	text-decoration:underline; 
	text-transform:capitalize; 
	word-spacing:5px; 
	font-size:0.6cm;
	font-weight:bold;
}

#bodyContent{
	color:#708090;
	text-align:justify; 
	word-spacing:3px; 
	font-family:cursive;
	font-size:0.4cm;
}

#imageContent{
	float:left;
	margin:3px;
	border:1px solid #bebebe;
}

#icon-facebook{
	height: 40px; width: 60px;

}

/* ======= End Info window ========== */

#icon-blog{
	height: 40px; width: 60px;

}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 280px;
	background: 
	/* color overlay */ 
	linear-gradient(
		rgba(240, 212, 0, 0.45), 
		rgba(0, 0, 0, 0.45)
		),
	/* image to overlay */
	url(http://images.cdn.fotopedia.com/_avPIZmqM3w-7z161LH_268-hd.jpg);
}

/* Form search*/

#search-form{
	margin-top: 8px;
}

#search-form .form-control{
	width: 100%;
}

.dropdown.dropdown-lg .dropdown-menu {
	margin-top: -1px;
	padding: 6px 20px;
}
.input-group-btn .btn-group {
	display: flex !important;
}
.btn-group .btn {
	border-radius: 0;
	margin-left: -1px;
}
.btn-group .btn:last-child {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.form-horizontal .form-group {
	margin-left: 0;
	margin-right: 0;
	display: block;
}

.form-group .form-control:last-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
	.dropdown.dropdown-lg {
		position: static !important;
	}
	.dropdown.dropdown-lg .dropdown-menu {
		min-width: 500px;
	}
}

/* aboutme*/

#conteneur {
  width: 1200px;
  min-height: 1000px
  margin: auto;
  padding: 5px;
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 6px 6px 6px #303030;
}
/* HEADER */
#aboutheader {
  margin: 0px;
  padding:5px;
  height:120px;
}
#photo2 {
  float: left;
  display: inline-block;
  margin-right: 10px;
  width: 50px;
  height:70px;
}
/*SEPARATION*/
 #separation {
   height:5px;
  background-color: #C8C8C8;
   margin: 0px;
 }

 /* SECTION */
#aboutsection {
  display: block;
  display: inline-block;
  width: 80%;
  margin: 0px;
  vertical-align: top;
  text-align: left;
  padding: 5px;
}
/* ARTICLE */
#aboutarticle {
  padding: 0px;
  margin: 0px;
  text-align: justify;
}

#aboutbody {
  background-color: #C8C8C8;
  color: #606060;
  font-size: 100%;
  font-family: "Times New Roman", Times, serif;
}




